<app-navber></app-navber>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- 
<nav style="background-color: blueviolet; padding: 10px;">
  <a routerLink="" routerLinkActive="active" style="margin-right: 15px; color: white; ">Home</a>
  <a routerLink="/about" routerLinkActive="active" style="margin-right: 15px; color: white; ">about</a>
  <a routerLink="/contract" routerLinkActive="active" style="margin-right: 15px; color: white; ">contract</a>
  <a routerLink="/shop" routerLinkActive="active" style="margin-right: 15px; color: white; ">shop</a>
  <a routerLink="/single" routerLinkActive="active" style="margin-right: 15px; color: white; ">single</a>
</nav> -->
